<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="static\style.css"> 
</head>
<body>
    <div class="page">
        <div class="container">
          <div class="left">
            <div class="login">Login</div>
            <div class="eula">By logging in you agree to the ridiculously long terms that you didn't bother to read</div>
        </div>
        <div class="right">
            <div class="form"> 
                <form method="POST" action="/login">
                    <label class="index-label" for="username">Username:</label><br>
                    <input  type="loginText" id="username" name="username" required><br>
                    <label class="index-label" for="password">Password:</label><br>
                    <input type="password" id="password" name="password" required><br>
                    <button class="buttonLogin" role="button" type="submit">Login</button>
                </form>
                <a href="/signup">Sign Up</a>
            </div>
        </div>
    </div>
</div>
</body>
</html>



  
